$headerBackground: #00897b;
$headerSelectItemFontColor: #e1bee7;

%headerNavmenuFont {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.2rem;
    color: #b9f6ca;
}

%InputFormFont {
    font-family: "Arial";
    font-weight: 300;
    font-size: 1.2rem;
    color: black;
}